@import "./root.css";

.customer-table {
    width: 80%;
}
.customer-table-header-cell {
    background-color: var(--accent-medium);
    font-size: 14px;
}

.customer-table-data-cell {
    color: var(--primary);
    border-bottom: 2px solid var(--accent-dark);
    border-radius: 2px;
    padding-top: 15px;
    padding-left: 5px;
    font-size: 14px;
}

.table-link-create {
    background-color: var(--primary);
    text-decoration: none;
    color: var(--accent-light);
    padding: 15px;
    border-radius: 15px;
    transition: background-color 2s;
}

.table-link-create:hover {
    background-color: var(--accent-medium);
}

.customer-table-data-link {
    text-decoration: none;
    color: var(--secondary);
}

@media screen and (min-width: 600px){
    .customer-table{
        margin-left: 10%;
    }

    .customer-table-data-cell{
        font-size: 16px;
    }
}