@import './root.css';



.delivery-info {
    font-size: 14px;
}

.delivery {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-top: 30px;
    border-bottom: 2px solid var(--accent-medium);
    
}



.delivery-count {
    padding-top: 20px;
    text-align: right;
}

.form-action-header {
    padding-top: 50px;
    width: 50vw;
    margin-left: 25vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

.form-button-delete:nth-child(1) {
    grid-column: 2/4;
}

.form, .history{
    border-top: 5px solid var(--primary);
    padding-top: 25px;
    width: 50vw;
    margin-left: 25vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    row-gap: 15px;
}



.form-text-input {
    border: none;
    border-bottom: 2px solid var(--primary);
}

.form > *, .history > * {
    width: 95%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    animation: rise;
    animation-duration: .5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.delivery-container {
    grid-column: 1/3;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}


.form-button-submit, .form-button-edit, .form-button-delete {
    background-color: var(--primary);
    color: var(--accent-light);
    border: none;
}

.form-button-edit, .form-button-delete {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 25px;
}


.form-button-edit:hover, .form-button-submit:hover {
    background-color: var(--accent-dark);
}

.form-button-delete:hover{
    background-color: red;
}

input:read-only {
    background-color: var(--accent-medium);
}

.search-box-results {
    grid-column: 1/3;
    height: 150px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px;
    border: 2px solid var(--accent-dark);
}

.search-box-result-container {
    width: 44vw;
    margin-left: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--accent-medium)
}

.search-box-result-button {
    background-color: transparent;
    border: none;
    width: 100%;
    padding-top: 5px;
    border-bottom: 2px solid var(--accent-dark);
    color: var(--secondary);
    font-size: 24px;
}

.search-box-result-button:hover{
    color: var(--primary);
}

.form-title {
    grid-column: 1/3;
    font-size: 30px;
    text-align: center;
}


@keyframes rise {
    0%{
        margin-bottom: 0px;
    }
    100%{
        margin-bottom: 25px;
    }

}

@media screen and (min-width: 600px){
    .form-title {
        grid-column: 1/1;
        text-align: left;
    }
    .form-action-header {
        grid-template-columns: 3fr 1fr 1fr;
    }
    .form-button-delete:nth-child(5), .form-button-edit:nth-child(6)  {
        margin-top: 30px;
    }
    .delivery-info {
        font-size: 20px;
    }
}

